@media screen and (min-width: 0px){
    
    *
	{
		margin: 0;
		padding: 0;
		
	}
	#remove
	{
		visibility: hidden;
	}
	
	#main_wrapper
	{
		
		width: 100% ;
		margin: auto;
		background-color: #fffff0;
	}
	#title
	{
	
		font-family: 'Open Sans', sans-serif;
		font-size: 5.5em;
		/*color:  #5BC85B;*/
		color: green;
		text-decoration: none;
		text-align: center;	
		font-weight: 400;
		margin: 0;
		margin-bottom: 3%;
		text-shadow: 
		 2px 2px 0 #000, 
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
	}
	#b
	{
		font-size: 1.5em;
		font-weight: 900;
		color: darkgreen;
		text-shadow: 
		 2px 2px 0 #000, 
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
	}
	#main_wrapper > ul > li
	{
		display: inline-block;
		text-decoration: none;
		text-align: center;
	}
	
	#main_wrapper > ul > li > ul
	{
		background: lightgrey;
		opacity: 0;
		transition: opacity 1s;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		-mstransition: opacity 1s;
		text-decoration: none;
		text-align: left;
	}
	#main_wrapper > ul > li:hover > ul
	{
		opacity: 1;
		color: white;
		text-align: left;
		text-decoration: none;
	}
	#main_wrapper > ul > li:hover > ul > li
	{
		text-align: left;
		text-decoration: none;


	}
	#main_wrapper > ul > li:hover > ul > li:hover
	{
		background-color: green;
		text-align: left;
		text-decoration: none;
	}
	#main_wrapper > ul > li:hover > ul > li:hover > a
	{
		color: white;
	}
	.title
	{
		font-size: .91em;
		font-family: 'Open Sans', sans-serif;
   		font-weight: 100;
		display: inline;
		vertical-align: top;
		margin-right: 1.25%;
		text-decoration: none;
		font-style: italic;
		color: green;
		visibility: hidden;
		/*text-align: left;*/
	}
	#left_li
	{
		margin-right: 0px;
		
	}
		#person_title
	{
		font-size: 3.75em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		margin-bottom: 1%;
		margin-top: 0%;
	}
	
	.title > a
	{
		color: forestgreen;
		text-decoration: none;
		text-align: left;
		padding: 3px 3px 0 0;
	}
	.title > a:hover
	{
		color: white;
		text-decoration: none;
		text-align: left;
		background-color: forestgreen;
		padding: 3px 3px 0 0;
	}
	.sub_title
	{
		text-decoration: none;
		display: block;
		text-align: left;
		font-style: normal;
		font-size: .9em;
		/*margin-left: 2px;*/
		/*margin-right: 2px;*/
	}
	.sub_title > a
	{
		color: green;
	}
	ul
	{
		text-align: center;
		padding: 0;
	}
	#title_ul2
	{
		text-align: center;
		width: 100%;
		visibility: hidden;
		height: 0px;
		
	}
	#title_ul3
	{
		text-align: center;
		width: 100%;
	}
	#img_div
	{
		margin: auto;
		width: 80%;
		margin-top: 1%;
		vertical-align: top;
	}
	#img_div10
	{
		margin: auto;
		width: 7.5%;
		margin-top: 1%;
		vertical-align: top;
	}
	#img_div20
	{
		margin: auto;
		width: 77.25%;
		margin-top: 10%;
		vertical-align: top;
		margin-bottom: 2.5%;
	}
	#menu_stack
	{
		border: none;
		box-shadow: none;
	}
	#img_div2
	{
		margin: auto;
		width: 38%;
		margin-top: 1%;
		vertical-align: top;
		display: inline-block;
		margin-bottom: 3%;
		margin-right: 2px;
	}
	#vogel
	{
		font-size: .9em;
		text-align: center;
		/*border-top: 2px solid grey;*/
		display: block;
		width: 33.3%;
		font-family: "Alef";
		margin: auto;
		margin-bottom: 2%;
		padding-top: 2%;
		color: darkslateblue;
	}
	img
	{
		width: 100%;
		border: 2px solid darkgreen;
		 box-shadow: 10px 10px 5px #888888;
	}
	#ad
	{
		width: 0%;
		height: 0px;
		display: inline-block;
		/*border: 1px solid grey;*/
		vertical-align: top;
		/*margin-top: 5%;*/
		/*float: left;*/
		/*margin-left: 1%;*/
		visibility: hidden;
	}
	#ad2
	{
		width: 0%;
		height: 0px;
		display: inline-block;
		/*border: 1px solid grey;*/
		vertical-align: top;
		/*margin-top: 5%;*/
		/*float: right;*/
		/*margin-right: 1%;*/
		visibility: hidden;
	}
	#div_li
	{
		display: inline;
	}
	a
	{
		text-decoration: none;
	}
	#what_p
	{
		font-size: 4.5em;
		font-family: 'Open Sans', sans-serif;
		color: forestgreen;
		display: inline-block;
		margin-bottom: 3%;
	}
	#what_p33
	{
		font-size: 4.5em;
		font-family: 'Open Sans', sans-serif;
		color: white;
		display: inline-block;
		margin-bottom: 3%;
		background-color: green;
		
	}

	
	.last_reason
	{
		margin-bottom: 0;
	}
	#second_p
	{
		font-size: 3em;
		font-family: 'Open Sans', sans-serif;
		color: forestgreen;
		margin: 0 2% 3% 2%;
	}
	#what
	{
		font-size: 1em;
		font-family: 'Open Sans', sans-serif;
		color: forestgreen;
		text-decoration: none;
		text-align: center;	
		font-weight: 400;
		margin-bottom: 0px;
	}
	#green
	{
		color: darkgreen;
		font-size: 100%;
	}
	#wrap
	{

	}
	#second_section
	{
		/*width: 55.5%;*/
		/*border: 1px solid black;*/
		margin: auto;
		
		display: inline-block;
		/*margin-left: 1%;*/
	}
	#second_section3
	{
		/*width: 55.5%;*/
		/*border: 1px solid black;*/
		margin: auto;
		
		display: inline-block;
		/*margin-left: 1%;*/
	}
	#contact_div
	{
		/*width: 50%;*/
		/*border: 1px solid black;*/
		margin: auto;
		/*height: 150px;*/
		background-color: forestgreen;
		margin-top: 1%;
		
		
	}
	.form2
	{
		width: 80%;
		height: 60px;
		font-size: 1em;
	}
	.form1
	{
		width: 30%;
		height: 30px;
		font-size: 1em;
	}

	#ad3
	{
		width: 0%;
		height: 0px;
		/*display: inline-block;*/
		/*border: 1px solid grey;*/
		/*text-align: center;*/
		/*float: left;*/
		/*margin-left: 1%;*/
		/*margin-top: 2.5%;*/
		visibility: hidden;
	}
	#ad4
	{
		width: 0%;
		height: 0px;
		/*display: inline-block;*/
		/*border: 1px solid grey;*/
		/*text-align: center;*/
		/*float: right;*/
		/*margin-right: 1%;*/
		/*margin-top: 2.5%;*/
		visibility: hidden;
	}
	#fortyfive
	{
		text-align: center;
	}
	#img_li
	{
		width: 66.7%;
		display: block;
		border-radius: 100%;
		margin: auto;
		margin-top: 10%;

	}
	.bottom_li
	{
		display: inline-block;
		width: 27%;
		margin: 2.5%;
		/*box-shadow: none;*/
	}
	.img_left
	{
		margin-left: 2%;
	}
	#bottom_section
	{
		/*border-top: 3px solid forestgreen;*/
		/*margin-top: 2%;*/
	}
	#second_section3
	{
		width: 90%;
		display: block;
		margin: auto;
	}
	
	#our_p
	{
		font-size: 4.5em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: forestgreen;
		margin: 0 5% 2% 5%;
	}
	#our_p1
	{
		font-size: .7em;
		text-align: justify;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		margin: 0 3% 0 3%;
	}
	#our_p2
	{
		font-size: 1.5em;
		text-align: justify;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		display: inline-block;
		width: 100%;
	}
	#img_div2
	{
		width: 33.3%;
		display: block;
		margin: auto;
		margin-top: 5%;
	}	
	#our_p3
	{
		font-size: 1.15em;
		font-family: 'Open Sans', sans-serif;
		color: white;
		margin-top: 1%;
		margin-left: 3%;	
	}
	#our_p5
	{
		font-size: 1.25em;
		font-family: 'Open Sans', sans-serif;
		color: lightgrey;
		margin-left: 3%;
		margin-bottom: 1%;
		margin-top: 3%;
		
	}
	#our_p6
	{
		font-size: 1em;
		font-family: 'Open Sans', sans-serif;
		color: white;
		margin-top: 1%;
		margin-left: 3%;
		margin-bottom: 3%;
		
	}
	#contact2
	{
		display: inline-block;
		width: 100%;
		color: white;
		background-color: forestgreen;
		margin: 0;
		vertical-align: top;
	}
	#logo
	{
		width: 10%;
		border: none;
		/*margin-left: 5%;*/
		margin-right: 5%;
		margin-bottom: 5%;
		 box-shadow: none;
	}
	.twitter
	{
		margin-left: 3%;
	}
	#adsense
	{
		margin-bottom: 129%;
	}
	#adsense1
	{
		margin-bottom: 140%;
	}
	#adsense2
	{
		margin-bottom: 512%;
	}
	#background_p
	{
		color: mediumseagreen;
		font-size: 1.25em;
	}
	#click1
	{
		color: lime;
		/*background-color: black;*/
	}
	#click2
	{
		color: #BFEE90;
		color: mediumseagreen;
		/*background-color: black;*/
		
	}
	#about_title
	{
		font-size: 2em;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		text-align: center;
		margin: 3% 0 3% 0;
	}
	#about_div1
	{
		width: 80%;
		margin: auto;
		

	}
	#about_div2
	{
		width: 90%;
		/*display: inline-block;*/
		margin: auto;
	}
	#about_img
	{
		width: 100%;
		border: 2px solid darkgreen;
		vertical-align: top;
		opacity: .8;
	}
	#about_img2
	{
		width: 100%;
		border: 2px solid darkgreen;
		margin-top: 16px;
		vertical-align: top;
	}
	#about_img3
	{
		margin-bottom: 5%;
	}
	#about_text
	{
		font-family: 'Open Sans', sans-serif;
		display: inline-block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: 1em;
		text-align: left;
		color: forestgreen;
	}
	#about_text2
	{
		font-family: 'Open Sans', sans-serif;
		display: inline-block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: 1em;
		/*margin-left: 3%;*/
		/*margin-right: 5%;*/
		color: forestgreen;
	}
	#greenline
	{
		visibility: hidden
	}
	#greenline2
	{
		visibility: hidden;
	}
	#person_title
	{
		font-size: 1em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		margin-top: 0;
	}
	#dateline
	{
		font-size: .75em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: limegreen;
	}
	#li_div1
	{
		border: 1px solid black;
		background-image: url("/img/discover1.JPG");
		background-repeat: no-repeat;
		background-size: cover;
		width: 200px;
		height: 133px;
	}
	#li_div2
	{
		border: 1px solid black;
		background-image: url("/img/discover2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 200px;
		height: 133px;
	}
	#li_div3
	{
		border: 1px solid black;
		background-image: url("/img/discover3.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 200px;
		height: 133px;
	}
	#li_div4
	{
		border: 1px solid black;
		background-image: url("/img/discover4.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 200px;
		height: 133px;
	}
	#li_div5
	{
		border: 1px solid black;
		background-image: url("/img/discover5.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 200px;
		height: 133px;
	}
	#discover_p
	{
		margin-top: 57%;
		font-size: 1em;
		font-family: 'Open Sans', sans-serif;

	}
	#discover_ul
	{
		text-align: center;
		margin-top: 10%;
	}
	#discover_li
	{
		display: inline-block;
		margin: 1%;
		margin-bottom: 5%;
		color: white;

	}
	#discover_div
	{
		margin-top: 10%;
	}	
	#message
	{
		margin: auto;
		width: 80%;
		border: 1px solid darkgreen;
		margin-bottom: 5%;
	}
	.p_td
	{
		font-size: 1.5em;
		font-family: 'Open Sans', sans-serif;
		margin: 0;
	}
	#name
	{
		/*text-decoration: underline;*/
		color: limegreen;
		font-size: .75em;
		display: block;
	}
	#time
	{
		font-size: .25em;
		font-style: italic;
		vertical-align: top;
	}
	#form
	{
		width: 80%;
		margin: auto;
		margin-left: 5%;
		margin-top: 0px;

	}
	input
	{
		width: 200px;
		font-size: 1.5em;
		display: block;
		margin-bottom: 5%;
		margin-top: 10%;
		background-color: white;
	}
	textarea
	{
		width: 280px;
		height: 400px;
		margin: auto;
		font-size: 1.5em;
		background-color: white;
	}
	#reserve
	{
		display: inline-block;
		height: 25px;
		width: 50px;
		color: white;
		font-size: 1em;
		background-color: black;
	}
	#celebrate_div
	{
		margin-bottom: 20%;
	}
	 #maps2
	{
      width: 80%;
      height: 100%;
      margin: auto;
      padding: 0;
      margin-top: 5%;
    }
    #map {
      height: 360px;
      /*width: 28%;*/
      margin-bottom: 10%;
      margin-top: 3%;
      margin-left: 1%;
      /*border: 1px solid black;*/
    }
    #green_circle
    {
    	border: none;
    	width: 5%;
    	display: inline-block;
    	margin-left: 0px;
    	visibility: hidden;
    }
    #green_circle2
    {
    	border: none;
    	width: 4%;
    	display: inline-block;
    	margin-left: 0px;
    	visibility: hidden;
    }
    #about_text7
	{
		font-family: 'Open Sans', sans-serif;
		display: block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: .8em;
		text-align: left;
		color: forestgreen;
	}
	#about_text5
	{
		font-family: 'Open Sans', sans-serif;
		display: block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: 1.25em;
		text-align: center;
		color: darkgreen;
		margin-bottom: 3%;
		margin-top: 6%;
	}
	#about_div15
	{
		width: 50%;
		margin: auto;
		margin-bottom: 5%;
	}
	#about_text9
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 1.25em;
		text-align: center;
		margin-top: 5%;
	}
	#greenline3
	{
		border-top: 4px solid green;
		width: 76%;
		margin: auto;
		margin-bottom: 40px;
		margin-top: 40px;
		visibility: visible;
	}
	#comment_name
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		border-top: 1px solid darkgreen;
	}
	#img_div7
	{
		width: 50%;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 5%;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;

	}
	#person_title23
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 1.5em;
		margin-left: 5%;
		
		
	}
	#person_title24
	{
		font-family: 'Open Sans', sans-serif;
		color: green;
		font-size: .75em;
		margin-left: 5%;
		font-style: italic;
	}
	#comment_name2
	{
		font-family: 'Open Sans', sans-serif;
		color: limegreen;
		font-size: .75em;
		margin-left: 5%;
		/*border-top: 1px solid darkgreen;*/
	}
	#comment_comment
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 1.25em;
		margin-left: 5%;
		/*border-top: 1px solid darkgreen;*/
	}
	#person_title10
	{
		font-family: 'Open Sans', sans-serif;
		color: green;
		font-size: 1.5em;
		margin-left: 0%;
		/*margin-right: 7.5%;*/
		/*text-align: center;*/
		/*margin-bottom: 5%;*/
	}
	#person_title11
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 1.5em;
		margin-top: 2%;
		margin-left: 5%;
		margin-bottom: 2%;
		
	}
	.event_img
	{
		display: inline-block;
		width: 29%;
		margin-left: 1%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	#greenline3
	{
		border-top: 4px solid green;
		width: 90%;
		margin: auto;
		margin-bottom: 40px;
		margin-top: 40px;
		visibility: visible;
	}
	#vogel
	{
		font-size: 1.25em;
		text-align: center;
		/*border-top: 2px solid grey;*/
		display: block;
		width: 100%;
		font-family: "Alef";
		margin: auto;
		margin-bottom: 2%;
		padding-top: 2%;
		color: darkslateblue;
	}
}

@media screen and (min-width: 1024px){
	*
	{
		/*border: 1px dotted black;*/
	}
	#title
	{
		font-size: 4em;
		margin-bottom: 1%;
	}
	/*#title_li
	{
		font-size: 1.25em;
		margin: 0px .75% 1% .75%;
		border-top: 2px solid limegreen;
		border-bottom: 2px solid limegreen;
		padding: .5% .5% .5% .5%;
		font-style: italic;
		visibility: visible;
	}
	#title_li:hover
	{
		background-color: limegreen;
		color: white;
	}*/
	#title_ul2
	{
		text-align: center;
		width: 100%;
		visibility: visible;
		height: 100%;
		
	}
	#what
	{
		font-size: 3.5em;
		/*margin-top: 10%;*/
		margin-bottom: 2%;
	}
	#div_li
	{
		margin: 1%;
	}
	#img_div
	{
		margin: auto;
		width: 35%;
		margin-top: 1%;
		text-align: left;
		display: inline-block;
		/*margin-left: 10%;*/

	}
	#img_div2
	{
		display: block;
		margin: auto;
		width: 25%;
		margin-bottom: 2%;
		margin-top: 2%;
	}
	#ad
	{
		width: 15%;
		height: 100%;
		display: inline-block;
		border: 2px solid grey;
		vertical-align: top;
		margin-top: .5%;
		float: left;
		margin-left: 1%;
		visibility: visible;
		background-image: url("/img/rest1.jpg");
	}
	#ad2
	{
		width: 15%;
		height: 100%;
		display: inline-block;
		border: 2px solid grey;
		vertical-align: top;
		margin-top: .5%;
		float: right;
		margin-right: 1%;
		visibility: visible;
		background-image: url("/img/rest2.jpg");
	}
	#what_p
	{
		/*font-size: 1.325em;*/
		font-size: 2.25em;
		text-align: left;
		margin: 0 0 1% 1%;
		display: inline-block;

	}
	#what_p33
	{
		/*font-size: 1.325em;*/
		font-size: 2em;
		text-align: left;
		margin: 0 0 1% 1%;
		display: inline-block;
		padding: 2px;
		color: darkgreen;
		background-color: #fffff0;

	}
	#what_p33:hover
	{
		color: white;
		background-color: forestgreen;
		padding: 2px;
		
	}
	#second_section3
	{
		width: 74%;
		display: block;
		margin: auto;
		margin-top: 2.5%;
		/*background-image:url("/img/golf.jpg");*/
		/*border: 2px solid forestgreen;*/
	
	}
	#second_section
	{
		width: 90%;
		display: block;
		margin: auto;
	}
	#second_section2
	{
		width: 74%;
		border: dashed 1px black;
		display: inline-block;
		margin-top: 2.5%;

	}
	#second_p
	{
		font-size: 2.15em;
		margin-left: 11%;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#ad3
	{
		width: 15%;
		height: 100%;
		display: inline-block;
		border: 2px solid grey;
		text-align: center;
		float: left;
		margin-left: 1%;
		margin-top: 2.5%;
		visibility: visible;
		/*background-image: url("/img/rest4.jpg");*/
	}
	#ad4
	{
		width: 15%;
		height: 100%;
		display: inline-block;
		border: 2px solid grey;
		text-align: center;
		float: right;
		margin-right: 1%;
		margin-top: 2.5%;
		visibility: visible;
		/*background-image: url("/img/rest5.jpg");*/
	}
	#bottom_section
	{
		margin: auto;
		width: 100%;

	}
	#img_li
	{
		width: 25%;
		display: inline-block;
		/*margin-right: 1.05%;*/
		border-radius: 100%;
		margin-top: 1%;
		margin-left: 3%;
	}
	#ovals
	{
		margin-left: 8%;
	}
	#our_p1
	{
		font-size: 1.75em;
		color: darkgreen;
		/*text-shadow: 
		 2px 2px 0 #000, 
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;*/
		margin-top: 2%;
		text-align: justify;
	}
	#our_p
	{
		font-size: 4em;
		text-shadow: 
		 2px 2px 0 #000, 
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
	}
	#contact2
	{
		display: inline-block;
		width: 33%;
		color: white;
		background-color: forestgreen;
		margin: 0;
		vertical-align: top;
		border-bottom: 1px forestgreen solid;
		text-align: center;
	}
	#logo
	{
		width: 10%;
		border: none;
		/*margin-left: 5%;*/
		margin-right: 5%;
		/*margin-bottom: 5%;*/
	}
	#wrap
	{
		width: 100%;
		display: block;
		border-top: 4px solid green;
		padding-top: 2%;
		margin-top: 5%;
	}

	#our_p2
	{
		color: darkgreen;
		
		font-size: 2em;
		/* text-shadow: 
		 2px 2px 0 #000, 
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;*/
		display: inline-block;
		width: 100%;
		vertical-align: top;
		text-align: justify;
	}
	#background_p
	{
		color: lime;
	}
	#contact_div
	{
		margin-top: 4px;
	}
	#about_title
	{
		font-size: 3em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		margin-top: 5%;
	}
	#about_div1
	{
		width: 25%;
		display: inline-block;
		vertical-align: top;
		/*margin-top: 1.25%;*/
		margin: 0 0 0 9.65%;
	}
	#about_div123
	{
		width: 25%;
		display: inline;
		vertical-align: top;
		/*margin-top: 1.25%;*/
		margin: 0 0 0 0;
	}
	#about_div15
	{
		width: 25%;
		display: inline-block;
		vertical-align: top;
		/*margin-top: 4%;*/
		margin-left: 15%;
	}
	#about_div111
	{
		width: 25%;
		display: inline-block;
		vertical-align: top;
		margin-left: 0;
		/*margin-top: 4%;*/
		/*margin-left: 15%;*/
	}
	#about_div2
	{
		width: 45%;
		display: inline-block;
		margin-left: 7.5%;
		/*margin-top: 3%;*/

	}
	#fact_div
	{
		margin-bottom: 3%;
		vertical-align: top;
	}
	#about_img
	{
		width: 100%;
		border: 2px solid black;
		margin-left: 10%;
		/*vertical-align: top;*/
		opacity: .8;
	}
	#about_img3
	{
		width: 100%;
		border: 2px solid black;
		margin-bottom: 5%;
		margin-left: 10%;
		margin-top: 1%;
	}
	#about_img2
	{
		width: 100%;
		border: 2px solid black;
		margin-left: 10%;
		/*vertical-align: top;*/
		opacity: .8;
	}
	#about_img:hover
	{
		opacity: 1;
		transition: 2s;
	}
	#about_img2:hover
	{
		opacity: 1;
		transition: 2s;
	}

	#about_text
	{
		font-family: 'Open Sans', sans-serif;
		display: block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: 1em;
		text-align: justify;
		color: forestgreen;
	}
	#about_text7
	{
		font-family: 'Open Sans', sans-serif;
		display: block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: 1.25em;
		text-align: left;
		color: forestgreen;
	}
	#about_text5
	{
		font-family: 'Open Sans', sans-serif;
		display: block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: 2.5em;
		text-align: center;
		color: darkgreen;
		margin-bottom: 3%;
	}
	#about_text2
	{
		font-family: 'Open Sans', sans-serif;
		display: inline-block;
		/*width: 45%;*/
		vertical-align: top;
		font-size: 1.4em;
		/*margin-left: 3%;*/
		/*margin-right: 5%;*/
		color: forestgreen;
	}
	#greenline
	{
		border-top: 4px solid green;
		width: 100%;
		margin-bottom: 2%;
		margin-top: 2%;
		margin-left: 10%;
		visibility: visible;
	}
	#greenline2
	{
		border-top: 4px solid green;
		width: 100%;
		/*margin-top: 2%;*/
		margin-left: 10%;
		visibility: visible;
	}
	#greenline3
	{
		border-top: 4px solid green;
		width: 76%;
		margin: auto;
		margin-bottom: 40px;
		margin-top: 40px;
		visibility: visible;
	}
		#person_title
	{
		font-size: 2.5em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		margin-bottom: 1%;
		margin-top: 0%;
	}
	#dateline
	{
		font-size: 1em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: grey;
		margin-bottom: 1%;
	}
	#discover_div
	{
		margin-top: 10%;
	}	
	#message
	{
		margin: auto;
		width: 64%;
		border: 1px solid darkgreen;
		margin-bottom: 5%;
	}
	.p_td
	{
		font-size: 1.5em;
		font-family: 'Open Sans', sans-serif;
		margin: 2%;
	}
	#name
	{
		/*text-decoration: underline;*/
		color: limegreen;
		font-size: 2em;
		margin-right: 3%;
	}
	#time
	{
		font-size: .67em;
		font-style: italic;
	}
	#places
	{
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 1%;
		margin-top: 5%;
		font-family: 'Open Sans', sans-serif;
		color: seagreen;
		
	}
	#places:hover
	{
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 1%;
		font-family: 'Open Sans', sans-serif;
		color: darkkhaki;
		
	}
	#discover_ul
	{
		text-align: center;
		margin-top: 0px;
	}
	#discover_li
	{
		display: inline-block;
		margin: 1%;
		margin-bottom: 3%;
		color: white;

	}
	#li_div1
	{
		border: 1px solid black;
		background-image: url("/img/discover1.JPG");
		background-repeat: no-repeat;
		background-size: cover;
		width: 400px;
		height: 267px;
	}
	#li_div1:hover > p
	{
		background-color: lightgrey;
		color: forestgreen;
	}
	#li_div2
	{
		border: 1px solid black;
		background-image: url("/img/discover2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 400px;
		height: 267px;
		background-color: forestgreen;
	}
	#li_div2:hover > p
	{
		background-color: lightgrey;
		color: forestgreen;
	}
	#li_div3
	{
		border: 1px solid black;
		background-image: url("/img/discover3.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 400px;
		height: 267px;
	}
	#li_div3:hover > p
	{
		background-color: lightgrey;
		color: forestgreen;
	}
	#li_div4
	{
		border: 1px solid black;
		background-image: url("/img/discover4.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 400px;
		height: 267px;
	}
	#li_div5
	{
		border: 1px solid black;
		background-image: url("/img/discover5.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 400px;
		height: 267px;
	}
	#discover_p
	{
		margin-top: 56%;
		font-size: 2em;
		font-family: 'Open Sans', sans-serif;
		background-color: forestgreen;
	}
	
	#form
	{
		width: 80%;
		margin: auto;
		margin-left: 20%;
		margin-top: 0px;
		margin-bottom: 20%;

	}
	#form2
	{
		/*width: 50%;*/
		
		/*border: 1px solid green;*/
	}
	.form2
	{
		width: 50%;
		height: 30px;
		font-size: 1em;
	}
	.form1
	{
		width: 30%;
		height: 30px;
		font-size: 1em;
	}
	input
	{
		width: 400px;
		font-size: 2em;
		display: block;
		margin-bottom: 2%;
		margin-top: 0;
		background-color: white;
	}
	textarea
	{
		width: 80%;
		height: 200px;
		margin: auto;
		font-size: 2em;
		background-color: white;
	}
	#reserve
	{
		display: block;
		float: right;
		margin-right: 20%;
		height: 40px;
		width: 80px;
		color: white;
		font-size: 1.5em;
		background-color: black;
	}
	#celebrate_div
	{
		margin-bottom: 15%;
	}
	 #maps2{
      width: 200vh;
      height: 100vh;
      margin: auto;
      padding: 0;
    }
    #map {
      height: 400px;
      width: 60%;
      margin: auto;
      /*margin-bottom: 20%;*/
      /*margin-top: 10%;*/
      border: 1px solid black;
    }
    #green_circle
    {
    	border: none;
    	width: 5%;
    	display: inline;
    	margin-left: 7.5%;
    	 box-shadow: none;
    	visibility: visible;
    }
    #green_circle2
    {
    	border: none;
    	width: 4.25%;
    	display: inline;
    	margin-left: 7.5%;
    	 box-shadow: none;
    	visibility: visible;
    }
    #img_div10
	{
		visibility: hidden;
		height: 0px;
	}
	#click1
	{
		color: lime;
		text-decoration: underline;
	}
	#click1:hover
	{
		color: darkkhaki;
		text-decoration: underline;
	}
	#img_div7
	{
		margin: auto;
		width: 27.5%;
		margin-top: 7.5%;
		margin-bottom: 5%;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;

	}
	#support_p
	{
		color: darkgreen;
		margin-top: 1%;
		margin-bottom: 2%;
	}
	.bottom_li
	{
		display: inline;
	}
	#bottom_li
	{
		margin-bottom: 5%;
		margin-top: 2%;
		width: 25%;

	}
	.title
	{
		visibility: visible;
		margin-right: 16px;
	}
	#guide_pic
	{
		width: 30%;
		margin: 0;
		vertical-align: top;
		margin-top: 10px;
	}
	#comment
	{
		border-bottom: 1px solid darkgreen;
		margin-top: 3%;
	}
	#comment_name
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		border-top: 1px solid darkgreen;
	}
	#about_text9
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 1.75em;
		text-align: center;
	}

	#comment_name2
	{
		font-family: 'Open Sans', sans-serif;
		color: limegreen;
		font-size: 1em;
		/*border-top: 1px solid darkgreen;*/
	}
	#comment_comment
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 2em;
		/*border-top: 1px solid darkgreen;*/
	}
	#comment_what
	{
		/*border: 1px solid black;*/
		display: inline-block;
		margin-left: 2%;
		margin-bottom: 10%;
	}
	#comment_what2
	{
		/*border: 1px solid black;*/
		display: inline-block;
		margin-left: 2%;
		/*margin-bottom: 10%;*/
	}
	#about_div99
	{
		width: 66.7%;
		margin: auto;
	}
	.event_img
	{
		display: inline-block;
		width: 30%;
		margin-left: 1.25%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	#prem_title
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 1.5em;
		margin-left: 13%;
		display: inline;
	}
	.prem_top
	{
		margin-top: 5%;
	}
	#person_title2
	{
		font-family: 'Open Sans', sans-serif;
		color: green;
		font-size: 1.75em;
		text-align: center;
		margin-bottom: 5%;
	}
	#person_title10
	{
		font-family: 'Open Sans', sans-serif;
		color: green;
		font-size: 2.25em;
		margin-left: 9%;
		/*margin-right: 7.5%;*/
		/*text-align: center;*/
		/*margin-bottom: 5%;*/
	}
	#person_title11
	{
		font-family: 'Open Sans', sans-serif;
		color: green;
		font-size: 1.5em;
		margin-top: 2%;
		
	}
	#person_title23
	{
		font-family: 'Open Sans', sans-serif;
		color: darkgreen;
		font-size: 3.25em;
		/*margin-left: 20%;*/
		
		
	}
	#person_title24
	{
		font-family: 'Open Sans', sans-serif;
		color: green;
		font-size: 2.25em;
		/*margin-left: 20%;*/
		font-style: italic;

		
	}
	#define
	{
		width: 76%;
		margin: auto;
		margin-bottom: 3%;
	}
	#remove
	{
		/*visibility: visible;*/
	}
	#vogel
	{
		font-size: .9em;
		text-align: center;
		/*border-top: 2px solid grey;*/
		display: block;
		width: 33.3%;
		font-family: "Alef";
		margin: auto;
		margin-bottom: 2%;
		padding-top: 2%;
		color: darkslateblue;
	}
	#logo:hover
	{
		background-color: lightgreen;
	}

}