

<div id="about_div1">
	<p id="person_title10">Bountiful People</p>
	<a href="#/person_ofthe_month"><img id="about_img3" src="/img/skedros2.jpg"></a>
</div>
<div id="about_div2">
	<p id="person_title11">Our First Bountiful Person of the Month</p>
	<p id="about_text" class="prem_top">It may seem ironic that the first person to be featured by a sitededicated to the people of one of Utah's second pioneer settlements is the son of Greek immigrants who settled in Arizona, but nobody in our town today better represents the ideals of Bountiful than Mr. Gregory Skedros, regardless of where he actually started his journey...<br><br><i>Click <a href="#/person_ofthe_month"><span id="click1">PEOPLE</span></a> to DISCOVER the full story of Greg Skedros and many more Boutiful people.  Add your own comments to round out the Bountiful Discovery process.</i></p>
</div>
<div id="greenline3"></div>

<div id="about_div1">
	<p id="person_title10">Bountiful Places</p>
	<a href="#/places"><img id="about_img3" src="/img/places3.jpg"></a>
</div>
<div id="about_div2">
	<p id="person_title11">Twin Hollows Uniting Neighbors</p>
	<p id="about_text" class="prem_top">The Bountiful City Council anticipated some level of opposition to a local developer's recent request for endorsement of a proposed public/private landswap. So they called for a public hearing to gauge community response to the idea. What they didn't anticipate was the formation of a determined neighborhood coalition called Twin Hollows United to insure that their foothills remained open and undeveloped.<br><br><i>Click <a href="#/places"><span id="click1">PLACES</span></a> to DISCOVER the full story of the Twin Hollows neighborhoood efforts to preserve the foothills surrounding their homes. Read other postings about many more Bountiful places. Remember to add your own commentary at the end of each posting or add an entirely new line of postings of your own.</i></p>
</div>
<div id="greenline3"></div>
<div id="about_div1">
	<p id="person_title10">Bountiful Business</p>
	<a href="#/business"><img id="about_img3" src="/img/ballet2.jpg"></a>
</div>
<div id="about_div2">
	<p id="person_title11">Creating Dancers, Friends and Memories</p>
	<!-- <p id="dateline">Contributed by Emily Mendoza</p> -->
	<p id="about_text" class="prem_top">Growing up wedged between two brothers, I had plenty of rough and tumble, Pirates and cowboy play. There was a plethora of muddy handprints and grass stained shorts. In fact often I came in from playing outside being far more dirty than either of my brothers. I needed a little more frill and lace in my life (like most little girls thrive on) not to mention some gracefulness. And so when I was six years old my parents enrolled me in ballet classes at the Bountiful School of Ballet.<br><br><i>Click <a href="#/business"><span id="click1">BUSINESSES</span></a> to DISCOVER more about Bountiful School of Ballett and other businesses in our community. Add your own responses and postings about your favorite Bountiful Businesses and then go support them. Local small businesses are the heartbeat of any community.</i></p>
</div>
<div id="greenline3"></div>	

<div id="about_div1">
	<p id="person_title10">Bountiful Schools</p>
	<a href="#/schools"><img id="about_img3" src="/img/jazz1.jpg"></a>
</div>
<div id="about_div2">
	<p id="person_title11">BHS Welcomes All Fools For Jazz</p>
	<p id="about_text" class="prem_top">Nobody likes to be called a fool and yet hundreds of people turned up at Bountiful High School on the evening of April 25th knowing that's exactly what they'd be called. Most were called that last year and they'll likely be called that next year too. Fools For Jazz is the annual fund raiser for the Bountiful High Jazz Bands and many Bountiful families make a tradtion out of singing and dancing and eating like fools year after year.<br><br><i>Click <a href="#/schools"><span id="click1">SCHOOLS</span></a> to DISCOVER Jennifer Wardell's article about the event in the <a href="http://davisclipper.com/view/full_story/27157435/article-Bountiful-High-heads-back-in-time-with-Fools-for-Jazz-events?">Davis Clipper.</a></i></p>
</div>
<div id="greenline3"></div>			
 
 <div id="about_div1">
 	<p id="person_title10">Bountiful Events</p>
	<a href="#/eventts"><img id="about_img3" src="/img/concert5.jpg"></a>
</div>
<div id="about_div2">
	<p id="person_title11">BDAC Teaming with NOVA for Benefit Chamber Concert</p>
	<p id="about_text" class="prem_top">The Bountiful Davis Art Center and the NOVA Chamber Concert Series are joining together to bring fine Chamber Music and Art to downtown Bountiful. Join both arts groups on May 14 for a special fundraiser concert at the Bountiful Davis Arts Center featuring Utah Symphony Concertmaster Ralph Matson in recital, with NOVA Artistic Director and pianist Jason Hardink and a very special guest appearance by internationally acclaimed soprano Celena Shafer. The program features music by Brahms, Schumann, Strauss, Gershwin, Bolcom, and Joplin. All proceeds benefit both NOVA and BDAC.<br><br><i>Click <a href="#/eventts"><span id="click1">EVENTS</span></a> to DISCOVER more about this concert and to contribute your own thoughts about BDAC, NOVA, and Bountiful art in general.</p>
</div></i></p>
</div>               



<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>

	
	