<p id="about_title">Premiere Edition</p>


<div id="about_div1">
	<a href="#/person_ofthe_month"><img id="about_img" src="/img/mand2.jpeg"></a>
	<img id="about_img2" src="/img/bball.jpg"> 
	<img id="about_img" src="/img/plan.jpg">
</div>

<div id="about_div2">
	<p id="about_text"> Welcome to the premier edition of Our Bountiful Town.com.   In additon to an on-going and ever-growning collection of brief posts by Bountiful folks, we will feature an ever-changing collection of articles to keep you current on Bountiful happenings that merit extra attention.  We will also have some regular occuring features, including: The Bountiful Person of the Month and the Bountiful Business of the Month.  For our first edition, the two recipients are very closely related. Hmmm, who could it be?  Click photo to find out.</p><br><br>
	<p id="about_text">Also featured in this week's edition: you know him as the Bountiful Kid who led the BHS Braves to two consecutive State Basketball titles.  But he's a kid no more.  He just wrapped up his freshman season with the BYU basketball team, played in the NIT Semi-Finals at Madison Square Garden and is was recently called as an LDS missionary to Iowa.  Now that is a BOUNTIFUL effort. Click here to DISCOVER more about Bountiful's own Zac Seljaas.<br><br>

	Then, click CELEBRATE to WRITE your own posts about Bountiful families, friends, and fun including your own thoughts about a local sports hero.  By using the FORM provided, you can also share stories, pictures, and memories that will share more about Our Bountiful Town. Our Contributor's Guide and sample posts will make it easy for you.

<br><br>Finally, click SUPPORT to learn all about Bountiful Projects, Causes, and Events.  There are many ways you can help improve our Bountiful Town and we've listed some of them on this site. Often, the solution is as easy as simply clicking on a link.  And it won't cost you a cent, unless you opt to give one.

<br><br>Please be sure to help us spread the word about Ourbountifultown.com by sending links to this site to all your family and friends via your various social media platforms (this service pending).  


<br><br>Thank you for your interest and please enjoy the premier edition of ourbountifultown.com.</p>                  

<br><br><p id="about_text2">Sincerely,<br><br>

OUR BOUNTIFUL TOWN STAFF</p>  
</div>

<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>

	
	