

	<p id="person_title">Celebrate Bountiful People</p>

	<div id="form">
		<input ng-model="productsCtrl.newProduct.user_name" require placeholder="user name">
		<input ng-model="productsCtrl.newProduct.title" require placeholder="headline">
		<textarea ng-model="productsCtrl.newProduct.message" require placeholder="message content"></textarea>
		<a href="#/person_ofthe_month"><button id= "reserve" ng-click="productsCtrl.addProduct(productsCtrl.newProduct)">Post</button></a>
	</div>

	<p id="person_title42">Powered By Vogel1Devs</p>

<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>

