<div id="celebrate_div">

	<p id="person_title">Celebrate Bountiful Business</p>

	<div id="form">
		<input ng-model="business_postsCtrl.newBusiness_Post.user_name" require placeholder="user name">
		<input ng-model="business_postsCtrl.newBusiness_Post.title" require placeholder="headline">
		<textarea ng-model="business_postsCtrl.newBusiness_Post.message" require placeholder="message content"></textarea>
		<button id= "reserve" ng-click="business_postsCtrl.addBusiness_Post(business_postsCtrl.newBusiness_Post)">Post</button>
	</div>

	
</div>



<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>