<div id="discover_div">
	
		<div id="message" ng-repeat="product in productsCtrl.products">
			<p class="p_td"><span id="name" ng-bind="product.user_name"></span>
			<span id="time" ng-bind="product.created_at | date: 'medium' "></p>
			<p class="p_td" ng-bind="product.message"></p>
			<button id="remove" ng-click="productsCtrl.removeProduct(product)">Remove</button>
		</div>
</div>




<style type="text/css">
*
{
	background-color: #fffff0;
}
#discover_div
{
	margin-top: 10%;
}	
#message
{
	margin: auto;
	width: 64%;
	border: 1px solid darkgreen;
	margin-bottom: 5%;
}
.p_td
{
	font-size: 1.5em;
	font-family: 'Montserrat', Verdana, sans-serif;
	margin: 2%;
}
#name
{
	/*text-decoration: underline;*/
	color: limegreen;
	font-size: 2em;
	margin-right: 3%;
}
#time
{
	font-size: .67em;
	font-style: italic;
}
</style>