	<h1 id="title1">Discover <span id="b">B</span>ountiful</h1>

	<ul id="title_ul3">
		<a href="#/"><li id="title_li2">Home</li></a>
		<a href="#/celebrate"><li id="title_li2">Celebrate</li></a>
		<a href="#/support"><li id="title_li2">Support</li></a>
	</ul>


<style type="text/css">
	#title1
	{
	
		font-family: 'Montserrat', Verdana, sans-serif;
		font-size: 4em;
		color: forestgreen;
		text-decoration: none;
		text-align: center;	
		font-weight: 400;
		margin: 0;
		margin-bottom: 3%;
	}
	#title_li2
	{
		display: inline;
		text-align: center;
		font-size: 1.5em;
		font-family: 'Montserrat', Verdana, sans-serif;
		margin: 0 5% 0 5%;
		color: forestgreen;
	}
	#title_ul3
	{
		text-align: center;
	}
	#title_li
	{
		visibility: hidden;
		height: 0px;
	}
	#title_ul
	{
		visibility: hidden;
		height: 0px;
	}
	#title
	{
		visibility: hidden;
		height: 0px;
		margin-top: 0px;
	}
</style>