		
		<ul id="discover_ul">
			<li id="discover_li"><div id="li_div1"><p id="discover_p">PEOPLE</div></li>
			<a href="#/places"><li id="discover_li"><div id="li_div2"><p id="discover_p">PLACES</div></li></a>
			<a href="#/business"><li id="discover_li"><div id="li_div3"><p id="discover_p">BUSINESS</div></li></a>
			<li id="discover_li"><div id="li_div4"><p id="discover_p">SCHOOLS</div></li>
			<li id="discover_li"><div id="li_div5"><p id="discover_p">EVENTS</div></li>
		</ul>





		<!-- <a href="#/places"><p id="places">Discover Bountiful Places</p></a> -->
<div id="discover_div">
		<div id="message" ng-repeat="product in productsCtrl.products">
			<p class="p_td"><span id="name" ng-bind="product.user_name"></span>
			<span id="time" ng-bind="product.created_at | date: 'medium' "></p>
			<p class="p_td" ng-bind="product.message"></p>
			<button id="remove" ng-click="productsCtrl.removeProduct(product)">Remove</button>
		</div>
</div>




<style type="text/css">
*
{
	background-color: #fffff0;
}


</style>