<!-- <p id="person_title">Discover Bountiful Events</p>  -->

<p id="person_title">BDAC Welcomes NOVA Chamber Concert</p>

<div id="about_div1">
	<img src="/img/doog.jpg">
	<img class="event_img" src="/img/concert2.jpg">
	<img class="event_img" src="/img/concert3.jpg">
	<img class="event_img" src="/img/concert4.jpg">
</div>
<div id="about_div2">
<p id="about_text">Join NOVA for a special fundraiser concert  at the Bountiful Davis Arts Center featuring Utah Symphony Concertmaster Ralph Matson in recital, with NOVA Artistic Director and pianist Jason Hardink and a very special guest appearance by internationally acclaimed soprano Celena Shafer. The program features music by Brahms, Schumann, Strauss, Gershwin, Bolcom, and Joplin. All proceeds benefit both NOVA and BDAC.<br><br>
<b>Seating is limited to 100.<br><br>
Saturday May 14, 2016 @ 7:00 PM<br><br>
Bountiful Davis Art Center<br><br>
90 N Main Street<br><br>
Bountiful, UT 84010</b></p><br>
<p id="about_text9">Comment on this Post</p>

	<div id="comment" ng-controller="ConcertsController as concertsCtrl">
		<div ng-repeat="concert in concertsCtrl.concerts">
			<p id="comment_name">Commented by <span ng-bind="concert.user_name"></span></p>
			<p id="about_text"><span ng-bind="concert.comment"></span></p>	
			<button id="remove" ng-click="concertsCtrl.removeConcert(concert)">Remove</button>
		</div>
	</div>
	
	<div id="comment_div" ng-controller="ConcertsController as concertCtrl">
		<p id="dateline">Leave a comment</p>
		<div id="form2">
			<input class="form1" ng-model="concertCtrl.newConcert.user_name" require placeholder="your name">
			<textarea class="form2" ng-model="concertCtrl.newConcert.comment" require placeholder="comment"></textarea>
			<button id= "reserve" ng-click="concertCtrl.addConcert(concertCtrl.newConcert)">Post</button>
		</div>
	</div>
</div>	


<div ng-repeat="eventt in eventtsCtrl.eventts">
		<div id="greenline3"></div>
			<p id="person_title"><span ng-bind="eventt.title"></span>
			<p id="dateline">Contributed by <span ng-bind="eventt.user_name"></span>
		<div id="about_div1">
			<img id="about_img3" src="/img/sunset2.png">
		</div>
		<div id="about_div2">
			<!-- <span id="time" ng-bind="eventt.created_at | date: 'medium' "></span></p> -->
			<p id="about_text" ng-bind="eventt.message"></p>
			<button id="remove" ng-click="eventtsCtrl.removeEventt(eventt)">Remove</button>
		</div>
</div>


<p id="vogel">Powered By Vogel1Devs</p>
<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>