	

<div id="fact_div">
		<p id="about_text5">Annual Statistics- as of June 30, 2015</p>

	<div id="about_div15">
		<img src="/img/map.png">
	</div>
	<div id="about_div2">
		<p id="about_text7">Date of Incorporation - December 14, 1892</p>
		<p id="about_text7">Form of government - Council/Manager by Ordinance</p>
		<p id="about_text7">Area (Square miles) - 14</p>
		<p id="about_text7">Population Total - 43,023</p>
		<p id="about_text7">Population age 65 and older - 16.3%</p>
		<p id="about_text7">Population under age 5 - 8.3%</p>
		<p id="about_text7">School age population - 20.4%</p>
		<p id="about_text7">Property Values Real Property - $2,412,494,967</p>
		<p id="about_text7">Personal Property - $63,606,376</p>
		<p id="about_text7">Centrally Assessed Property - $22,141,541</p>
		<p id="about_text7">Miles of streets (total) - 159</p>
		<p id="about_text7">Number of street lights - June 2014 2 - 145</p>
		<p id="about_text7">City employees:</p>
		<p id="about_text7">Full-time positions - 171</p>
		<p id="about_text7">Part-time positions - 39</p>
		<p id="about_text7">Total Employees - 210</p>
	</div>
</div>
<div id="fact_div">

		<p id="about_text5">Fire Protection:</p>
	<div id="about_div15">
		<img src="/img/fire.jpg">
	</div>
	<div id="about_div2">
		<p id="about_text7">Number of fire stations:</p>
		<p id="about_text7">(operated by South Davis Metro Fire) - 2</p>
		<p id="about_text7">Number of fire calls - 814</p>
		<p id="about_text7">Number of EMS calls - 2,867</p>
	</div>
</div>  
<div id="fact_div">
		<p id="about_text5">Police Protection:</p>
	<div id="about_div15">
		<img src="/img/police.jpg">
	</div>
	<div id="about_div2">
		<p id="about_text7">Number of  police stations  -  1</p>
		<p id="about_text7">Number of patrol units - 22</p>
		<p id="about_text7">Number of case reports - 28,622</p>
		<p id="about_text7">Crimes per thousand population - 23.89</p>
	</div>  
</div>
<div id="fact_div">
		<p id="about_text5">Municipal Water Department:</p>
	<div id="about_div15">	
		<img src="/img/sprinkler.jpg">
	</div>

	<div id="about_div2">
		<p id="about_text7">Average daily gallons consumed - 4,492,000</p>
		<p id="about_text7">Miles of water mains - 176</p>
	</div>
</div>
<div id="fact_div">
		<p id="about_text5">Sanitation & Recycling:</p>
	<div id="about_div15">	
		<img src="/img/landfill.jpg">
	</div>
	<div id="about_div2">
		<p id="about_text7">Number of Sanitation trucks - 13</p>
		<p id="about_text7">Tons of waste collected & landfilled - 52,354 </p>
		<p id="about_text7">Tons of recyclables collected - 2,713</p>
		<p id="about_text7">Miles of Encased Storm Drains - 71</p>
		<p id="about_text7">Miles of storm drains inspected - 5</p>
		<p id="about_text7">Miles of streets cleaned - 159</p>
	</div> 
</div>
<div id="fact_div">
		<p id="about_text5">Power & Light:</p>
	<div id="about_div15">		
		<img src="/img/light.jpg">
	</div> 
	<div id="about_div2">
		<p id="about_text7">Miles of distribution & transmission lines - 230</p>
		<p id="about_text7">Kilowatt hours sold - 294,130,877</p>
	</div> 
</div>
<div id="fact_div">
		<p id="about_text5">Building Permits Issued:</p>
	<div id="about_div15">	
		<img src="/img/permit.jpg">
	</div> 
	<div id="about_div2">
		<p id="about_text7">Total - 8</p>
		<p id="about_text7">New single-family dwelling - 60</p>
		<p id="about_text7">New multi-family dwellings - 4</p>
	</div> 
</div>
<div id="fact_div">
		<p id="about_text5">Recreation & Culture:</p>
	<div id="about_div15">
		<img src="/img/lax.png">
	</div> 
	<div id="about_div2">
		<p id="about_text7"><b>Number of:</b></p>
		<p id="about_text7">         parks - 13</p>
		<p id="about_text7">         covered picnic areas - 19</p>
		<p id="about_text7">         tennis courts - 20</p>
		<p id="about_text7">         pickleball courts - 6</p>
		<p id="about_text7">         soccer fields - 6</p>
		<p id="about_text7">         trail heads - 2</p>
		<p id="about_text7">         swimming pools - 1</p>
		<p id="about_text7">         ice rinks - 1</p>
		<p id="about_text7">         libraries (Davis County) - 1</p>
		<p id="about_text7">         golf courses - 1 (18 holes)</p>
		<p id="about_text7">         art centers (BDAC) - 1</p>
	</div> 
</div>
<div id="fact_div"> 
		<p id="about_text5">Governance:</p>
	<div id="about_div15">
		<img src="/img/city_hall.jpg">
	</div> 
	<div id="about_div2">
		<p id="about_text7">Ordinances Passed by City Council - 4</p>
		<p id="about_text7">Resolutions Passed by City Council - 4</p>
		<p id="about_text7">Registered voters - 25,706</p>
		<p id="about_text7">Ballots Cast - 5,380</p>
		<p id="about_text7">Pecentage voters - 21%</p>
	</div> 
</div>

<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>
<style type="text/css">
	
</style> 