	<h1 id="what">What does <span id="green">BOUNTIFUL</span> mean to you?</h1>
	<ul id="title_ul2">
		<li id="div_li"><div id="ad"><p id="adsense">adsense</p></div></li>
		<li id="div_li"><div id="img_div"><img id="beach" ng-src="{{homeCtrl.image}}" alt="beach" id="myImage" name="myImage"></div></li>
		<li id="div_li">
			<div id="img_div">	
				<p id="what_p"><span id="green">A Dawning New Day?</p></span>
				<p id="what_p">A Growing Family?</p>
				<p id="what_p"><span id="green">A Bustling Main Street?</p></span>
				<p id="what_p">A Ripening Garden?</p>
				<p id="what_p"><span id="green" class="last_reason">A Promising Education?</p></span>
				<p id="what_p">A Breath-taking Sunset?</p>
			</div>
		</li>
		<li id="div_li"><div id="ad2"><p id="adsense">adsense</p></div></li>
	</ul>
	<div id="wrap">
		<div id="ad"><p id="adsense">adsense</p></div>
		<div id="second_section">
			<p id="second_p">For 45,000 northern Utahns, Bountiful is all that and more.</p>
			<p id="second_p"><span id="green">For us, Bountiful is not just a plentiful adjective.</p></span>
			<p id="second_p">Bountiful is our family, our friends, our culture and our city.</p>
			<p id="second_p"><span id="green">Bountiful is our attitude, it is our town, it is our life!</p></span>
			<p id="second_p">This site focuses on what's Bountiful in your life too.</p>
			<p id="second_p"><span id="green">No matter where you live...</p></span>
			<img id="img_li" class="img_left" src="/img/family.jpg">
			<img id="img_li" src="/img/golf2.jpg">
			<img id="img_li" src="/img/tabernacle.jpg">
		</div>
		<div id="ad2"><p id="adsense">adsense</p></div>
	</div><br>
	<div id="wrap">
		<div id="ad"><p id="adsense">adsense</p></div>
		<div id="second_section3">
			<p id="our_p1">Whether you were born in Bountiful, moved here yesterday, or have never heard of it before now, this site invites you to:<br><br> 
			<p id="our_p">Discover, Celebrate and Support</p> 
			<p id="our_p">Our <span id="b">B</span>ountiful Town</p><br>
			<p id="our_p2">First, click <span id="click1"><a href="#/discover">DISCOVER</a></span> to <span id="click2">READ</span> and <span id="click2">VIEW</span> everything that your friends and neighbors have posted about our town Bountiful.</p>
			<div id="img_div2">
				<img src="/img/click1.jpg">
			</div>
			<p id="our_p2">Next, click <span id="click1"><a href="#/celebrate">CELEBRATE</a></span> to <span id="click2">WRITE</span> your own stories, insights, and memories about our town. We encourage you to post and share your experiences and opinions with all your friends..</p>
			<div id="img_div2">
				<img src="/img/click2.jpg">
			</div> 
			<p id="our_p2">Finally, click <span id="click1"><a href="#/support">SUPPORT</a></span> to <span id="click2">CONTRIBUTE</span> and <span id="click2">VIEW</span> the organizations and causes that add so much to Our Bountiful Town. This site is the only gateway you need to become part of a more Bountiful community.</p>
			<div id="img_div2">
				<img src="/img/click3.jpg">
			</div>




</p>
		</div>
		<div id="ad2"><p id="adsense">adsense</p></div>
	</div>
		<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>
		

