	<h1 id="what">What does <span id="green">BOUNTIFUL</span> mean to you?</h1>
	<ul id="title_ul2">
		<li id="div_li"><div id="ad">adsense</div></li>
		<li id="div_li"><div id="img_div"><img id="beach" ng-src="{{homeCtrl.image}}" alt="beach" id="myImage" name="myImage"></div></li>
		<li id="div_li">
			<div id="img_div">	
				<p id="what_p"><span id="green">A Promise of a New Day?</p></span>
				<p id="what_p">A Plentiful Garden?</p>
				<p id="what_p"><span id="green">A Bustling Valley?</p></span>
				<p id="what_p">A Quality Education?</p>
				<p id="what_p"><span id="green">A Golden Sunset?</p></span>
			</div>
		</li>
		<li id="div_li"><div id="ad2">adsense</div></li>
	</ul>

		<div id="ad3">adsense</div>
		<div id="second_section">
			<p id="second_p">For 45,000 northern Utahns, Bountiful is all that and more.</p>
			<p id="second_p"><span id="green">For us, Bountiful is not just a plentiful adjective.</p></span>
			<p id="second_p">Bountiful is our family, our friends, our culture and our city.</p>
			<p id="second_p"><span id="green">Bountiful is our life!</p></span>
			<p id="second_p">This site is dedicated to making your life Bountiful too.</p>
			<p id="second_p"><span id="green">No matter where you live...</p></span>

		</div>
		<div id="ad4">adsense</div>
	




	<style type="text/css">
		#what
		{
			margin-top: 5%;
			font-size: 2.5em;
			font-family: 'Montserrat', Verdana, sans-serif;
			color: forestgreen;
			text-decoration: none;
			text-align: center;	
			font-weight: 400;
			margin-bottom: 0px;
		}
		#green
		{
			color: darkgreen;
			font-size: 100%;
		}
		#second_section
		{
			width: 55.5%;
			/*border: 1px solid black;*/
			margin: auto;
			height: 290px;
			display: inline-block;
			margin-left: 1%;
			margin-top: 2.5%;


		}
		#ad3
		{
			width: 20%;
			height: 290px;
			display: inline-block;
			border: 1px solid grey;
			text-align: center;
			float: left;
			margin-left: 1%;
			margin-top: 2.5%;
		}
		#ad4
		{
			width: 20%;
			height: 290px;
			display: inline-block;
			border: 1px solid grey;
			text-align: center;
			float: right;
			margin-right: 1%;
			margin-top: 2.5%;
		}
		#fortyfive
		{
			text-align: center;
		}

		



			
			
	</style>