	<h1 id="what">What does <span id="green">BOUNTIFUL</span> mean to you?</h1>
	<ul id="title_ul2">
		<li id="div_li"><div id="ad"><p id="adsense">adsense</p></div></li>
		<li id="div_li"><div id="img_div"><img id="beach" ng-src="{{homeCtrl.image}}" alt="beach" id="myImage" name="myImage"></div></li>
		<li id="div_li">
			<div id="img_div">	
				<p id="what_p"><span id="green">A Promise of a New Day?</p></span>
				<p id="what_p">A Plentiful Garden?</p>
				<p id="what_p"><span id="green">A Bustling Valley?</p></span>
				<p id="what_p">A Quality Education?</p>
				<p id="what_p"><span id="green">A Golden Sunset?</p></span>
			</div>
		</li>
		<li id="div_li"><div id="ad2"><p id="adsense">adsense</p></div></li>
	</ul>

		<div id="ad3"><p id="adsense1">adsense</p></div>
		<div id="second_section">
			<p id="second_p">For 45,000 northern Utahns, Bountiful is all that and more.</p>
			<p id="second_p"><span id="green">For us, Bountiful is not just a plentiful adjective.</p></span>
			<p id="second_p">Bountiful is our family, our friends, our culture and our city.</p>
			<p id="second_p"><span id="green">Bountiful is our life!</p></span>
			<p id="second_p">This site is dedicated to making your life Bountiful too.</p>
			<p id="second_p"><span id="green">No matter where you live...</p></span>
			<img id="img_li" src="/img/family.jpg">
			<img id="img_li" src="/img/golf.jpg">
			<img id="img_li" src="/img/tabernacle.jpg">
		</div>
		<div id="ad4"><p id="adsense1">adsense</p></div>

	<div id ="bottom_section">
		<div id="ad3"><p id="adsense2">adsense</p></div>
		<div id="second_section">
			<p id="our_p1">Whether you were born in Bountiful, moved here yesterday, or have never heard of it before now, this site invites you to:<br><br> <span id="our_p"id="creed">Discover, Celebrate, and Support</span></p> 
			<p id="our_p"><span id="creed">Our Bountiful Town</span></p><br>
			<p id="our_p2">First, DISCOVER everything you can about the people, places, and and trends that make life Bountiful.   We invite you to READ everything that your friends and neighbors have posted about our town. 
			<br><br>Next, CELEBRATE Bountiful with your own stories, insights, and memories about our town. We encourage you to WRITE, post, and share your experiences and opinions with all your friends. Finally, SUPPORT Bountiful events, organizations, businesses, schools, and churches.  We hope you will CLICK on the ads, VISIT the sites, and CONTRIBUTE to the organizations and causes that add so much to Our Bountiful Town. This site is the only gateway you need to create a more Bountiful community.</p>
		</div>
		<div id="ad4"><p id="adsense2">adsense</p></div>
	</div>
		<div id="bottom_section3">
			<div id="contact_div">
				<div class="whiteline" id="contact2">
					<p id="our_p3">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p>
				</div>
				<div class="whiteline" id="contact2">
					<p id="our_p3">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p>
				</div>
				<div id="contact2">
					<p id="our_p3">Follow Us:</p>
					<img id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
			</div>
		</div>
		



	<style type="text/css">
		#what
		{
			margin-top: 5%;
			font-size: 2.5em;
			font-family: 'Montserrat', Verdana, sans-serif;
			color: forestgreen;
			text-decoration: none;
			text-align: center;	
			font-weight: 400;
			margin-bottom: 0px;
		}
		#green
		{
			color: darkgreen;
			font-size: 100%;
		}
		#second_section
		{
			width: 55.5%;
			/*border: 1px solid black;*/
			margin: auto;
			height: 290px;
			display: inline-block;
			margin-left: 1%;
			margin-top: 2.5%;


		}
		#contact_div
		{
			width: 55.5%;
			/*border: 1px solid black;*/
			margin: auto;
			/*height: 150px;*/
			background-color: forestgreen;
			margin-top: 1%;
			
			
		}
		#ad3
		{
			width: 20%;
			/*height: 385px;*/
			display: inline-block;
			border: 1px solid grey;
			text-align: center;
			float: left;
			margin-left: 1%;
			margin-top: 2.5%;
		}
		#ad4
		{
			width: 20%;
			/*height: 385px;*/
			display: inline-block;
			border: 1px solid grey;
			text-align: center;
			float: right;
			margin-right: 1%;
			margin-top: 2.5%;
		}
		#fortyfive
		{
			text-align: center;
		}
		#img_li
		{
			width: 26%;
			display: inline-block;
			margin-left: 5%;
			margin-top: 3%;
		}
		#bottom_section
		{
			border-top: 3px solid forestgreen;
			margin-top: 2%;
		}
		#bottom_section3
		{
			/*background-color: forestgreen;*/
		}
		
		#our_p
		{
			font-size: 3.7em;
			text-align: center;
			font-family: 'Montserrat', Verdana, sans-serif;
			color: forestgreen;
		}
		#our_p1
		{
			font-size: .8em;
			text-align: center;
			font-family: 'Montserrat', Verdana, sans-serif;
			color: darkgreen;
		}
		#our_p2
		{
			font-size: 1.152em;
			text-align: justify;
			font-family: 'Montserrat', Verdana, sans-serif;
			color: darkgreen;
		}
		#our_p3
		{
			font-size: .9em;
			font-family: 'Montserrat', Verdana, sans-serif;
			color: white;
			margin-top: 1%;
			margin-left: 3%;
			
		}
		#contact2
		{
			display: inline-block;
			width: 32%;
			color: white;
			background-color: forestgreen;
			margin: 0;
			vertical-align: top;
		}
		#logo
		{
			width: 10%;
			border: none;
			margin-left: 5.25%;
		}
		.whiteline
		{
			border-right: 1px solid white;
		}
		#adsense
		{
			margin-bottom: 94%;
		}
		#adsense1
		{
			margin-bottom: 128%;
		}
		#adsense2
		{
			margin-bottom: 157%;
		}



		



			
			
	</style>