<ul id="bottom_ul">	
					<li class="bottom_li"><img id="guide_pic" src="/img/art.png"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/cemetary.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/cemetary2.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/church.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/downtown.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/flowers.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/fort.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/golf.jpg"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/street1.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/gracie.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/hospital.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/sunset2.png"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/golf2.png"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/house1.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/house2.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/house3.JPG"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/lake2.png"></li>
					<li class="bottom_li"><img id="guide_pic" src="/img/lax.png"></li>
					

</ul>