<div id="black_div">
	
	<a href="#/"><div id="black_div2"><h3 id="menu_h3" id="menu_top">Home</h3></div></a>
	<a href="#/about"><div id="black_div2"><h3 id="menu_h3">About This Issue</h3></div></a>
	<a href="#/discover"><div id="black_div2"><h3 id="menu_h3">DISCOVER Bountiful</h3></div></a>
	<a href="#/celebrate"><div id="black_div2"><h3 id="menu_h3">CELEBRATE Bountiful</h3></div></a>
	<a href="#/support"><div id="black_div2"><h3 id="menu_h3">SUPPORT Bountiful</h3></div></a>
	<a href="#/maps2"><div id="black_div2"><h3 id="menu_h3">Maps</h3></div></a>
	
</div>
<div id="img_div20">
				<img src="/img/bount_sign.jpg">
			</div> 

<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>

<style type="text/css">
	#black_div
	{
		background-color: seagreen;
		text-align: left;
		width: 90%;
		padding-top: 1%;
	}
	#black_div2
	{
		background-color: seagreen;
		width: 100%;
		border-bottom: 1px solid lightgrey;
	}
	#menu_h3
	{
		text-align: left;
		padding: 0;
		font-size: 1.5em;
		color: white;
		margin-top: 1%;
		margin-bottom: 2%;
		margin-left: 3%;
		font-family: "Open Sans", serif;
	}
	#menu_top
	{
		margin-top: 3%;
	}

</style>