<h1 id="places_h1">Discover Bountiful Places</h1>

<h3 id="places_h3">Twin Hollows United:</h3>
<h3 id="places_h3">Rallying for Bountiful's Open Space</h3>

<div id="places_div1">
	
	<p id="places_p">The Bountiful City Council anticipated some level of opposition to a local developer's recent request for endorsement of a proposed public/private landswap.  So they called for a public hearing to gauge community response to the idea.  What they didn't anticipate was the formation of a determined neighborhood coalition called Twin Hollows United.<br><br>

	United indeed, in their opposition to development of the 156 acres of Forest Service property that has kept the hills above their homes open for hiking, horseback riding, and sunset watching for generations.  The group did more than pack a record number of people into City Hall to speak agains the proposal. They sent 100's of well reasoned e-mails to City Officials, they ignited followings on social media, they organized themselves into various committees to find experts to back up their claims and verify their concerns.  They even organized a neighborhood  party to draw attention to the tremendous benefit of easy access to open space for Bountiful families.<br><br>

	Best of all, they provided a catalyst to bring a neighborhood together in defense of a vital public resource for Our Bountiful Community.  The net effect of which was a letter of opposition from the City Council to the Forest Service in Washington D.C. and a commiment for review of open space policy by Bountiful officials...JSP<br><br>

	Please post your own comments about Open Space in Bountiful at  CELEBRATE Bountiful Places.  Then please share it on your own networks.<br><br>

	Disclosure:  John Pitt, the contributor of this article is a member of the Bountiful CIiy Council.  This article and all others by him on this site refelct his personal opinions about Bountiful issues and do not necessarily represent the official positions of other Bountiful City officials or its employees.</p>
</div>

<div id="places_div2">
	<img class="places_img" src="/img/spaces1.jpg">
	<img class="places_img" src="/img/spaces2.png">
	<img class="places_img" src="/img/spaces3.jpg">

</div>

<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>


<style type="text/css">
	#places_h1
	{	
		text-align: center;
		font-size: 3em;
		margin-bottom: 5%;
		margin-top: 5%;
		font-family: 'Montserrat', Verdana, sans-serif;
		color: seagreen;
	}
	#places_h3
	{	
		text-align: left;
		font-size: 1.5em;
		font-family: 'Montserrat', Verdana, sans-serif;
		color: seagreen;
		margin-left: 3%;
	}
	#places_p
	{	
		text-align: left;
		font-size: 1.5em;
		margin-bottom: 1%;
		margin-top: 5%;
		font-family: 'Montserrat', Verdana, sans-serif;
		color: seagreen;
	}
	#places_div1
	{
		width: 45%;
		display: inline-block;
		margin-left: 3%;
	}
	#places_div2
	{
		width: 45%;
		display: inline-block;
		vertical-align: top;
		margin-left: 3%;
	}
	.places_img
	{
		margin-bottom: 3%;
	}
</style>