<div id="form">
	<p id="please">Please Sign Up Below!</p>
		<input ng-model="usersCtrl.newUser.first_name" require placeholder="first name">
		<input ng-model="usersCtrl.newUser.last_name" require placeholder="last name">
		<input ng-model="usersCtrl.newUser.email" require placeholder="email">
		
		<button id= "reserve" ng-click="usersCtrl.addUser(usersCtrl.newUser)">Register</button>
	</div>
	</div>
	
		<div id="users" ng-repeat="user in usersCtrl.users">
			<p class="p_td"><span ng-bind="user.first_name"></span>
			  <span ng-bind="user.last_name"></span></p><br>		
			<p class="p_td" ng-bind="user.email"></p>
			<button id="remove" ng-click="usersCtrl.removeUser(user)">Remove</button>
</div>
<p id="vogel">Powered By Vogel1Devs</p>
<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>

<style type="text/css">
*
{
	background-color: #fffff0;
}

#form
{
	margin: auto;
	margin-top: 10%;
	display: block;
	/*border: 1px dotted black;*/
	width: 51.5%;

}
input
{
	width: 200px;
	font-size: 2em;
	background-color: white;
}
#reserve
{
	font-size: 2em;
	color: white;
	background-color: black;
}
#please
{
	font-family: 'Montserrat', Verdana, sans-serif;
	font-size: 2em;
	color: darkgreen;
	text-align: center;
	margin-bottom: 5%;
}
#users
{
	width: 25%;
	border: 1px solid darkgreen;
	margin-top: 20%;
	margin-left: 5%;
}
.p_td
{
	font-size: 1.5em;
	font-family: 'Montserrat', Verdana, sans-serif;
	vertical-align: center;
	margin-bottom: 3%;
}
</style>