<div ng-repeat="school in schoolsCtrl.schools">
		<div id="greenline3"></div>
			<p id="person_title"><span ng-bind="school.title"></span>
			<p id="dateline">Contributed by <span ng-bind="school.user_name"></span>
		<div id="about_div1">
			<img id="about_img3" src="/img/sunset2.png">
		</div>
		<div id="about_div2">
			<!-- <span id="time" ng-bind="school.created_at | date: 'medium' "></span></p> -->
			<p id="about_text" ng-bind="school.message"></p>
			<button id="remove" ng-click="schoolsCtrl.removeSchool(school)">Remove</button>
		</div>
	</div>



<div id="bottom_section3">
			<div id="contact_div">
				<div id="contact2">
					<p id="our_p5">Email Us:</p>
					<p id="our_p3">ourbountifultown@gmail.com</p><br>
				</div>
				<div id="contact2">
					<p id="our_p5">Follow Us:</p>
					<img class="twitter" id="logo" src="img/twitter.png">
					<img id="logo" src="img/facebook.jpg">
					<img id="logo" src="img/google.png">
					<img id="logo" src="img/youtube.png">
					<img id="logo" src="img/pinterest.png">
					<img id="logo" src="img/instagram.png">
				</div>
				<div id="contact2">
					<p id="our_p5">Write Us:</p>
					<p id="our_p3">P.O. Box 706, Bountiful, UT 84010</p><br>
				</div>
			</div>
		</div>