<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
	<link rel="apple-touch-icon" href="icon-152.png">
	<!-- for Chrome on Android, multi-resolution icon of 196x196 -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="196x196" href="icon-196.png">
	<title>Our Bountiful Town</title>
	<script type="text/javascript" src="/js/lib/angular.js"></script>
	<script type="text/javascript" src="/js/lib/angular-routes.js"></script>
	<script type="text/javascript" src="/js/modules.js"></script>
  	<script type="text/javascript" src="/js/factories.factory.js"></script>
  	<script type="text/javascript" src="/js/controllers.ctrl.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/lib/jquery.timer.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	
	
	</head>

<body>

	
	
	<div id="main_wrapper">
		<h1 id="title">Our <span id="b">B</span>ountiful Town</h1>

		<ul id="title_ul">
			<a href="#/"><li id="title_li">Home</li></a>
			<a href="#/about"><li id="title_li">About This Issue</li></a>
			<a href="#/celebrate"><li id="title_li">Celebrate</li></a>
			<a href="#/discover"><li id="title_li">Discover</li></a>
			<a href="#/support"><li id="title_li">Support</li></a>
		</ul>



	
			<div ng-view id="stats"></div>
	</div>
	
	
 

	
	
		
	<!-- <div id="form">
		<input ng-model="productsCtrl.newProduct.company_name" require placeholder="park name">
		<input ng-model="productsCtrl.newProduct.product_name" require placeholder="date and time">
		<input ng-model="productsCtrl.newProduct.ufc_code" require placeholder="party name">
		
		<button id= "reserve" ng-click="productsCtrl.addProduct(productsCtrl.newProduct)">Reserve Park</button>
	</div>
	</div>
	<table id="tabe" class="table table-bordered">
		<tr>
			<th>Park</th>
			<th>Date/Time</th>
			<th>Party Name</th>
			<th>Remove</th>
			
		<tr>
		<tr ng-repeat="product in productsCtrl.products">
			<p class="p_td"><td ng-bind="product.company_name"></td></p>
			<p class="p_td"><td ng-bind="product.product_name"></td></p>		
			<p class="p_td"><td ng-bind="product.ufc_code"></td></p>
			<p class="p_td"><td><button class="btn btn-primary" id="remove" ng-click="productsCtrl.removeProduct(product)">Remove</button></td></p> -->
			
	

</body>
</html>

