<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
	<link rel="apple-touch-icon" href="icon-152.png">
	<!-- for Chrome on Android, multi-resolution icon of 196x196 -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="196x196" href="icon-196.png">
	<title>Our Bountiful Town</title>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTFbAShs-Vid1qTYfGxXzJgMJAVHM8vMs"></script>
	<script type="text/javascript" src="/js/lib/angular.js"></script>
	<script type="text/javascript" src="/js/lib/angular-routes.js"></script>
	<script type="text/javascript" src="/js/modules.js"></script>
  	<script type="text/javascript" src="/js/factories.factory.js"></script>
  	<script type="text/javascript" src="/js/controllers.ctrl.js"></script>
  	<script type="text/javascript" src="/js/directives.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/lib/jquery.timer.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	
	
	</head>

<body>

	
	
	<div id="main_wrapper">
		<h1 id="title"><b>Our <span id="b">B</span>ountiful Town</b></h1>
		<div id="img_div10">
				<a href="#/menu"><img id="menu_stack" src="/img/menu_stack2.png"></a>
			</div> 
		<ul id="title_ul">
				<li class="title" id="left_li"><a href="#/">HOME</a>
					<ul>
						<li class="sub_title"><a href="#/stats">About Bountiful</a></li>
						<li class="sub_title"><a href="#/contact">Contact US</a></li>
						<li class="sub_title"><a href="#/staff">OBT Staff</a></li>
						<li class="sub_title"><a href="#/guide">OBT Guide</a></li>
						<li class="sub_title"><a href="#/maps2">Map of Bountiful</a></li>
					</ul>
				</li>
				<li class="title"><a href="#/about">About This Issue</a></li>
				<li class="title"><a href="#/discover">DISCOVER Bountiful</a>
					<ul>
						<li class="sub_title"><a href="#/person_ofthe_month">Discover PEOPLE</a></li>
						<li class="sub_title"><a href="#/places">Discover PLACES</a></li>
						<li class="sub_title"><a href="#/business">Discover BUSINESS</a></li>
						<li class="sub_title"><a href="#/discover">Discover SCHOOLS</a></li>
						<li class="sub_title"><a href="#/discover">Discover EVENTS</a></li>
					</ul>
				</li>
				<li class="title"><a href="#/celebrate">CELEBRATE Bountiful</a>
					<ul>
						<li class="sub_title"><a href="#/celebrate">Celebrate PEOPLE</a></li>
						<li class="sub_title"><a href="#/celebrate">Celebrate PLACES</a></li>
						<li class="sub_title"><a href="#/celebrate">Celebrate BUSINESS</a></li>
						<li class="sub_title"><a href="#/celebrate">Celebrate SCHOOLS</a></li>
						<li class="sub_title"><a href="#/celebrate">Celebrate EVENTS</a></li>
					</ul>
				<li class="title"><a href="#/support">SUPPORT</a></li>
			</ul>



	
			<div ng-view id="stats"></div>
	</div>
	
	
 

	
	
		
	<!-- <div id="form">
		<input ng-model="productsCtrl.newProduct.company_name" require placeholder="park name">
		<input ng-model="productsCtrl.newProduct.product_name" require placeholder="date and time">
		<input ng-model="productsCtrl.newProduct.ufc_code" require placeholder="party name">
		
		<button id= "reserve" ng-click="productsCtrl.addProduct(productsCtrl.newProduct)">Reserve Park</button>
	</div>
	</div>
	<table id="tabe" class="table table-bordered">
		<tr>
			<th>Park</th>
			<th>Date/Time</th>
			<th>Party Name</th>
			<th>Remove</th>
			
		<tr>
		<tr ng-repeat="product in productsCtrl.products">
			<p class="p_td"><td ng-bind="product.company_name"></td></p>
			<p class="p_td"><td ng-bind="product.product_name"></td></p>		
			<p class="p_td"><td ng-bind="product.ufc_code"></td></p>
			<p class="p_td"><td><button class="btn btn-primary" id="remove" ng-click="productsCtrl.removeProduct(product)">Remove</button></td></p> -->
			
	

</body>
</html>
<script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTFbAShs-Vid1qTYfGxXzJgMJAVHM8vMs&callback=initMap"></script>
